div.flatselect {
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

div.flatselect button {
	border: none;
	text-decoration: none;
	margin-right: 1px;
}

div.flatselect button:hover {
	text-decoration: underline;
	color: blue;
}

div.flatlabel {
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

div.flatlabel button {
	border: none;
	text-decoration: underline;
	margin-right: 1px;
	background: none;
}

div.flatlabel button:hover {
	text-decoration: underline;
	color: blue;
}

div.flatselectable .selected {
	font-weight: bold;
	color: navy;
}

div.flatleft button {
	text-align: left;
}
